<!--The content below is only a placeholder and can be replaced.-->
<div class="body" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <table style="margin:0 auto;">
    <ng-container>
    <tr>
    <p></p>
      <td class="position" *ngFor="let len of bars"></td>
    </tr>
      <tr *ngFor="let sound of Sounds, index">
      <p class="title">{{sound.title}}</p>
        <td *ngFor="let len of bars">
          <button class="beat"></button>
        </td>
      </tr>
    </ng-container>
  </table>